<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Eirene</title>
	<meta name="description"  content="Professional Creative Template" />
	<meta name="author" content="IG Design">
	<meta name="keywords"  content="ig design, website, design, html5, css3, jquery, creative, clean, animated, portfolio, blog, one-page, multi-page, corporate, business," />
	<meta property="og:title" content="Professional Creative Template" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:image:width" content="470" />
	<meta property="og:image:height" content="246" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="Professional Creative Template" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="https://twitter.com/IvanGrozdic" />
	<meta name="twitter:domain" content="http://ivang-design.com/" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:description" content="Professional Creative Template" />
	<meta name="twitter:image" content="http://ivang-design.com/" />

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#212121"/>
    <meta name="msapplication-navbutton-color" content="#212121"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121"/>

	<!-- Web Fonts 
	================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet"/>	
	
	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/colors/color.css"/>
	<link rel="stylesheet" href="css/retina.css"/>
			
	<!-- Favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	
	
</head>
<body class="royal_preloader">	
	
	<div id="royal_preloader"></div>

	
	<!-- Nav and Logo
	================================================== -->

		
	<!-- Nav and Logo
	================================================== -->

		<header class="cd-header">
			
			<div class="container">
				<div class="row">
					<div class="col-md-12 ml-3 mr-md-3">
						<div class="logo-wrap">
							<a href="index.html"><img src="img/logo.png" alt=""></a>
						</div>
						<div class="nav-but-wrap">
							<div class="menu-icon">
								<span class="menu-icon__line menu-icon__line-left"></span>
								<span class="menu-icon__line"></span>
								<span class="menu-icon__line menu-icon__line-right"></span>
							</div>					
						</div>
					</div>
				</div>
			</div>		
				
		</header>

		<div class="nav">
			<div class="nav__content">
				<ul class="nav__list">
					<li class="nav__list-item active-nav"><a href="index.html">work</a></li>
					<li class="nav__list-item"><a href="studio.html">studio</a></li>
					<li class="nav__list-item"><a href="blog.html">journal</a></li>
					<li class="nav__list-item"><a href="contact.html">contact</a></li>
				</ul>
			</div>
			<div class="nav__footer">
				<p>support@eirene.com - <a href="contact.html">drop us a line</a></p>
			</div>
		</div>	
	
	<!-- Primary Page Layout
	================================================== -->

		<main>
			<nav class="menu">
				<div class="menu__item">
					<span class="menu__item-textwrap"><span class="menu__item-text"><span class="menu__item-text-in">Nature</span></span></span>
					<a class="menu__item-link">explore Nature projects<i class="fa fa-long-arrow-down"></i></a>
				</div>
				<div class="menu__item">
					<span class="menu__item-textwrap"><span class="menu__item-text"><span class="menu__item-text-in">Business</span></span></span>
					<a class="menu__item-link">explore Business projects<i class="fa fa-long-arrow-down"></i></a>
				</div>
				<div class="menu__item">
					<span class="menu__item-textwrap"><span class="menu__item-text"><span class="menu__item-text-in">Travel</span></span></span>
					<a class="menu__item-link">explore Travel projects<i class="fa fa-long-arrow-down"></i></a>
				</div>
				<div class="menu__item">
					<span class="menu__item-textwrap"><span class="menu__item-text"><span class="menu__item-text-in">Fashion</span></span></span>
					<a class="menu__item-link">explore Fashion projects<i class="fa fa-long-arrow-down"></i></a>
				</div>
				<div class="menu__item">
					<span class="menu__item-textwrap"><span class="menu__item-text"><span class="menu__item-text-in">People</span></span></span>
					<a class="menu__item-link">explore People projects<i class="fa fa-long-arrow-down"></i></a>
				</div>
			</nav>
			<div class="page page--preview">
				<div class="gridwrap">
					<div class="grid grid--layout-1">
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/1.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/2.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/3.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/4.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/5.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/6.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/7.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/8.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/9.jpg)"><div class="grid-item-mask"></div></a>
					</div>
					<div class="grid grid--layout-2">
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/10.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/11.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/12.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/13.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/14.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/15.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/16.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/17.jpg)"><div class="grid-item-mask"></div></a>
					</div>
					<div class="grid grid--layout-3">
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/18.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/19.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/20.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/21.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/22.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/23.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/24.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/42.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/43.jpg)"><div class="grid-item-mask"></div></a>
					</div>
					<div class="grid grid--layout-4">
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/25.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/26.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/27.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/28.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/29.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/30.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/31.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/32.jpg)"><div class="grid-item-mask"></div></a>
					</div>
					<div class="grid grid--layout-5">
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/33.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/34.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/35.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/36.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/37.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/38.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/39.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/40.jpg)"><div class="grid-item-mask"></div></a>
						<a href="project.html" class="grid__item tipped" data-title="<em>Nature</em><strong>Your Title</strong>" data-tipper-options='{"direction":"bottom","follow":"true","margin":25}' style="background-image: url(img/portfolio/41.jpg)"><div class="grid-item-mask"></div></a>
					</div>
					<button class="gridback"><span>go back</span></button>
				</div><!-- /gridwrap -->
				<div class="content">
					<div class="content__item">
						<p class="lead">Established in 1999, they are among the top ten film production companies in South America, now having expanded its horizons beyond Argentina, with operations in Chile and Spain, as well. Known for high-quality production services, they put client needs at the top of their priorities in every project that they embark on.</p>
						<div class="container padding-top-big padding-bottom">
							<div class="row">
								<div class="col-md-12 footer">
									<p>2019 © <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">Eirene</a> template. Design by <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">IG Design</a>.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="content__item">
						<p class="lead">Established in 1999, they are among the top ten film production companies in South America, now having expanded its horizons beyond Argentina, with operations in Chile and Spain, as well. Known for high-quality production services, they put client needs at the top of their priorities in every project that they embark on.</p>
						<div class="container padding-top-big padding-bottom">
							<div class="row">
								<div class="col-md-12 footer">
									<p>2019 © <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">Eirene</a> template. Design by <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">IG Design</a>.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="content__item">
						<p class="lead">Established in 1999, they are among the top ten film production companies in South America, now having expanded its horizons beyond Argentina, with operations in Chile and Spain, as well. Known for high-quality production services, they put client needs at the top of their priorities in every project that they embark on.</p>
						<div class="container padding-top-big padding-bottom">
							<div class="row">
								<div class="col-md-12 footer">
									<p>2019 © <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">Eirene</a> template. Design by <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">IG Design</a>.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="content__item">
						<p class="lead">Established in 1999, they are among the top ten film production companies in South America, now having expanded its horizons beyond Argentina, with operations in Chile and Spain, as well. Known for high-quality production services, they put client needs at the top of their priorities in every project that they embark on.</p>
						<div class="container padding-top-big padding-bottom">
							<div class="row">
								<div class="col-md-12 footer">
									<p>2019 © <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">Eirene</a> template. Design by <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">IG Design</a>.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="content__item">
						<p class="lead">Established in 1999, they are among the top ten film production companies in South America, now having expanded its horizons beyond Argentina, with operations in Chile and Spain, as well. Known for high-quality production services, they put client needs at the top of their priorities in every project that they embark on.</p>
						<div class="container padding-top-big padding-bottom">
							<div class="row">
								<div class="col-md-12 footer">
									<p>2019 © <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">Eirene</a> template. Design by <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">IG Design</a>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /page -->
		</main>
		
		
	<div class="social-fixed-left-no-change">
		<a href="#">twitter</a>
		<a href="#">facebook</a>
		<a href="#">behance</a>
		<a href="#">github</a>
	</div>

	
	<!-- JAVASCRIPT
    ================================================== -->
	<script src="js/jquery.min.js"></script>
	<script src="js/royal_preloader.min.js"></script> 
	<script src="js/popper.min.js"></script> 
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script> 
	<script src="js/animated-grid-portfolio.js"></script>  
	<script src="js/custom.js"></script>  
<!-- End Document
================================================== -->
</body>
</html>